@use '../shared/variables' as *;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &-main {
    @media (max-width: $size-md) {
      display: none;
    }
  }

  &-mobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    align-items: center;
    justify-items: center;
    height: 60px;
    box-sizing: border-box;

    &-item:last-child {
      justify-self: end;
      padding: 1rem;
    }

    @media (min-width: $size-md + 1) {
      display: none;
    }

    .nav-list {
      flex-direction: row;
    }
  }
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.nav-list li {
  margin: 0 10px;
}

.nav-list a {
  color: $body-font-color;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.25px;
}