@use '../shared/variables' as *;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;

  &-main {
    @media (max-width: $size-md) {
      display: none;
    }
  }

  // Mobile stuff
  &-mobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;

    &-item {
      z-index: $zindex-4 + 2;

      &:last-child {
        justify-self: end;
        padding: 1rem;
      }
    }

    @media (min-width: $size-md) {
      display: none;
    }

    .nav-list {
      flex-direction: row;
    }
  }

  // Mobile menu
  &-mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $dark-color;
    z-index: $zindex-4 + 1;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: -1;
    }

    &::after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 62px;
      height: 100%;
      background-image: url('../img/menu-mobile-stars.svg');
      background-repeat: no-repeat;
      background-size: 62px 100%;
      z-index: 0;
    }

    &.active {
      display: block;
      opacity: 1;
    }

    .nav-list {
      flex-direction: column;
      height: 100%;
      padding: 2rem;
      padding-left: 30%;
      align-items: start;
      gap: 1rem;
      position: relative;

      li {
        margin: 0;
        width: 100%;
      }

      a {
        color: $light-color;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
}

// Global rule for hide-on-active when mobile menu is active
div:has(#navbar-mobile-menu.active) .navbar-mobile .hide-on-menu-mobile-active {
  display: none !important;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.nav-list li {
  margin: 0 10px;
}

.nav-list a {
  color: $body-font-color;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.25px;
}