@use '../shared/variables' as *;

.weather {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (max-width: $size-lg) {
    top: 15%;
  }

  span {
    margin: 0 15px;

    @media screen and (max-width: $size-md) {
      font-size: .5rem;
      margin: 0 5px;
    }

    @media screen and (max-width: $size-lg) {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}