@use '../shared/variables' as *;

.home {
  background-size: cover;
  background-position: 50%;
  padding-top: 0;

  &.layout,
  .hero:first-child {
    min-height: 100dvh;
    max-height: 100vh;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: end;

    .text-hero-lg {
      white-space: break-spaces;
      text-align: right;
      font-size: 4rem;

      .sign {
        display: block;
        color: $primary-color;
        font-size: 1.5rem;
      }

      @media screen and (max-width: $size-lg) {
        font-size: 3.5rem;
      }

      @media screen and (max-width: $size-md) {
        font-size: 1.8rem;
        
        .sign {
          font-size: 1rem;
        }
      }

      @media screen and (max-width: $size-sm) {
        .banner-text {
          font-size: 0.75rem;
        }
      }
    }
  }
}
